brotlipy==0.7.0
chardet==5.1.0
jupyter==1.0.0
jupyterlab==3.5.3
pip-chill==1.0.3
pyopenssl==23.0.0
pyqt5==5.15.7
pysocks==1.7.1
scikit-learn==1.2.2
sip==6.6.2
streamlit==1.22.0
win-inet-pton==1.1.0
